## 1. Orchestra Celebration
<p>The New York Philharmonic is one of America's largest orchestras. In honor of its many famous musicians, the director is planning a special event. She wants to hold a concert to celebrate the top soloists from its history. You have been asked to determine which soloists should receive recognition.</p>
<p>The director has given you the following requirements:</p>
<ul>
<li><p>The results should only include the top 1% of soloists calculated by the total number of concerts performed.</p></li>
<li><p>Limit your results to entries where the orchestra is 'New York Philharmonic' and the event type is 'Subscription Season'. Soloist performances in other orchestras or event types should not count towards the calculation of the top soloists.</p></li>
<li><p>The director is only interested in individual soloists. You will need to exclude all of the following soloists: 'Chorus', 'No Soloist', 'New York Choral Artists', and 'Schola Cantorum of NY'. You should also exclude any soloist with 'choir' in the name.</p></li>
</ul>
<p>Your result should contain the following columns. It should meet all requirements as described.</p>
<table>
<thead>
<tr>
<th>column</th>
<th>requirements</th>
</tr>
</thead>
<tbody>
<tr>
<td>name</td>
<td>The name of the soloist, with the first name followed by the last name (e.g., Jane Smith). Please note that in the soloists table, names are in reverse order (last name, first name).</td>
</tr>
<tr>
<td>first_date</td>
<td>The first date the soloist ever performed with the orchestra, in the format '01 Jan 2015' (i.e., day as an integer, short month name, and year as an integer).</td>
</tr>
<tr>
<td>last_date</td>
<td>The last date the soloist ever performed with the orchestra, in the format '01 Jan 2015' (i.e., day as an integer, short month name, and year as an integer).</td>
</tr>
<tr>
<td>total_concerts</td>
<td>The total number of concerts the soloist performed.</td>
</tr>
</tbody>
</table>
<p>Order your results by the total number of concerts performed in descending order, and then by soloist name in alphabetical order. The data you will need is available in the two tables detailed in the schema below.</p>
<h5 id="databaseschema">Database Schema</h5>
<p><img src="https://assets.datacamp.com/production/repositories/5979/datasets/cad99976082fa05e47621975dc02b4b39c8400ba/symph3.PNG" alt="Database Schema" width="400px"></p>

In [27]:
%%sql
postgresql:///orchestra
    
-- Execute your SQL commands here
select 
concat(split_part(soloist_name, ',',2),' ' ,split_part(soloist_name, ',',1)) as name,
to_char(min(date) :: date, 'dd Mon yyyy') as first_date,
to_char(max(date) :: date, 'dd Mon yyyy') as last_date,
count(C.id) as total_concerts
from concerts as C
full join soloists as S
using(id)
where C.orchestra = 'New York Philharmonic'
and eventtype = 'Subscription Season'
and soloist_name not in ('Chorus', 'No Soloist', 'New York Choral Artists', 'Schola Cantorum of NY')
and upper(soloist_name) not like '%CHOIR%'
group by name
order by total_concerts desc, name
limit 29;

29 rows affected.

[(' Glenn Dicterow', '16 Oct 1980', '25 Jan 2014', 277),
 (' Philip Smith', '08 Nov 1979', '17 Dec 2011', 212),
 (' Philip Myers', '24 Jan 1980', '07 Nov 2015', 193),
 (' Stanley Drucker', '12 Oct 1961', '09 Jun 2009', 186),
 (' John Corigliano', '17 Dec 1921', '18 Apr 1966', 172),
 (' Lorne Munroe', '22 Oct 1964', '03 Feb 1996', 145),
 (' Carter Brey', '27 Nov 1996', '08 Jun 2017', 129),
 (' Thomas Stacy', '19 Apr 1973', '14 Mar 2009', 129),
 (' The Camerata Singers', '09 Apr 1964', '14 Sep 1977', 123),
 (' Joseph Robinson', '30 Nov 1978', '25 Jan 2003', 119),
 (' Pinchas Zukerman', '05 Feb 1969', '12 Jan 2013', 110),
 (' Scipione Guidi', '11 Dec 1921', '12 Mar 1931', 101),
 (' Emanuel Ax', '29 Sep 1977', '07 Jan 2017', 99),
 (' Rudolf Serkin', '20 Feb 1936', '14 Sep 1983', 99),
 (' Judith LeClair', '11 Mar 1982', '07 Nov 2015', 95),
 (' Mishel Piastro', '18 Nov 1931', '15 Jan 1956', 92),
 (' Isaac Stern', '07 Dec 1944', '10 Dec 1992', 91),
 (' Harold Gomberg', '06 Apr 1944', '19 Dec 1981', 88),
 (' Alicia de Larrocha', '29 Dec 1965', '18 Oct 2003', 85),
 (' Yefim Bronfman', '21 Sep 1978', '28 Jan 2017', 82),
 (' Zino Francescatti', '19 Nov 1939', '16 Dec 1975', 82),
 (' Rudolf Firkusny', '28 Oct 1943', '29 Oct 1991', 80),
 (' Robert Casadesus', '20 Jan 1935', '01 Dec 1969', 79),
 (' John Wummer', '15 Apr 1943', '30 May 1965', 76),
 (' Andre (André) Watts', '31 Jan 1963', '11 Dec 2012', 75),
 (' Charles Rex', '16 Feb 1981', '17 Feb 1998', 72),
 (' Cynthia Phelps', '10 Dec 1992', '08 Jun 2017', 71),
 (' Nathan Milstein', '23 Jan 1930', '23 Oct 1982', 67),
 (' Itzhak Perlman', '09 May 1965', '28 Sep 2010', 64)]